@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div id="modalThemCauHinh" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width:1100px">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title">Cấu hình đối tác xử lý hồ sơ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="frmThemCauHinh" method="post" name="frmThemCauHinh" novalidate="novalidate">
                    <input type="hidden" name="bt" value="" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="">Đối tác quản lý đơn</label>
                                <select class="select2 form-control custom-select" required="" name="ma_doi_tac_ql" style="width: 100%; height:36px;"></select>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <label class="_required">Ngày áp dụng</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" required="" class="form-control datepicker tu_ngay" name="tu_ngay" display-format="date" value-format="number" placeholder="mm/dd/yyyy">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><span class="ti-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mt-2">
                    <div class="col-12">
                        <ul class="nav nav-pills font-weight-bold" role="tablist">
                            <li class="nav-item mr-2" style="background-color: #edeff0; border-radius: 5px;">
                                <a class="nav-link active" id="xe-tab" data-toggle="tab" href="#xe_co_gioi" role="tab" aria-controls="home" aria-selected="true">
                                    Nghiệp vụ xe ô tô
                                </a>
                            </li>
                            <li class="nav-item mr-2" style="background-color: #edeff0; border-radius: 5px;">
                                <a class="nav-link" id="xe-may-tab" data-toggle="tab" href="#xe_may" role="tab" aria-controls="home" aria-selected="true">
                                    Nghiệp vụ xe máy
                                </a>
                            </li>
                            <li class="nav-item" style="background-color: #edeff0; border-radius: 5px;">
                                <a class="nav-link" id="nguoi-tab" data-toggle="tab" href="#con_nguoi" role="tab" aria-controls="profile" aria-selected="false">
                                    Nghiệp vụ con người
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding-top: 10px">
                            <div id="xe_co_gioi" class="tab-pane fade show active data-scroll" role="tabpanel" aria-labelledby="xe-tab">
                                <div class="table-responsive" style="max-height: 315px">
                                    <table id="tblCauHinhXe" class="table table-bordered fixed-header">
                                        <thead class="font-weight-bold">
                                            <tr class="text-center uppercase">
                                                <th width="4%">STT</th>
                                                <th width="24%">Đơn vị quản lý</th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvgd" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvgd"><b style="font-weight:bold">Đơn vị giám định trung tâm</b></label>
                                                    </div>
                                                </th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvbt" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvbt"><b style="font-weight:bold">Đơn vị bồi thường</b></label>
                                                    </div>
                                                </th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvtt" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvtt"><b style="font-weight:bold">Đơn vị thanh toán</b></label>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="modalThemCauHinhXe"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="xe_may" class="tab-pane fade data-scroll" role="tabpanel" aria-labelledby="xe-may-tab">
                                <div class="table-responsive" style="max-height: 315px">
                                    <table id="tblCauHinhXeMay" class="table table-bordered fixed-header">
                                        <thead class="font-weight-bold">
                                            <tr class="text-center uppercase">
                                                <th width="4%">STT</th>
                                                <th width="24%">Đơn vị quản lý</th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvgd_xm" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvgd_xm"><b style="font-weight:bold">Đơn vị giám định trung tâm</b></label>
                                                    </div>
                                                </th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvbt_xm" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvbt_xm"><b style="font-weight:bold">Đơn vị bồi thường</b></label>
                                                    </div>
                                                </th>
                                                <th style="width:24%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvtt_xm" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvtt_xm"><b style="font-weight:bold">Đơn vị thanh toán</b></label>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="modalThemCauHinhXeMay"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade data-scroll" id="con_nguoi" role="tabpanel" aria-labelledby="nguoi-tab">
                                <div class="table-responsive" style="max-height: 315px">
                                    <table id="tblCauHinhNg" class="table table-bordered fixed-header">
                                        <thead class="font-weight-bold">
                                            <tr class="text-center uppercase">
                                                <th width="4%">STT</th>
                                                <th width="32%">Đơn vị quản lý</th>
                                                @*<th width="32%">Đơn vị bồi thường</th>
                            <th width="32%">Đơn vị thanh toán</th>*@
                                                <th style="width:32%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvbt_ng" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvbt_ng"><b style="font-weight:bold">Đơn vị bồi thường</b></label>
                                                    </div>
                                                </th>
                                                <th style="width:32%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="chon_tat_ca_dvtt_ng" class="custom-control-input">
                                                        <label class="custom-control-label" for="chon_tat_ca_dvtt_ng"><b style="font-weight:bold">Đơn vị thanh toán</b></label>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="modalThemCauHinhNg"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: block;">
                <button type="button" class="btn btn-outline-primary btn-sm wd-80 float-left" id="btnXoaCauHinh"><i class="fas fa-trash-alt"></i> Xóa</button>
                <button type="button" class="btn btn-primary btn-sm wd-90 float-right" data-dismiss="modal"><i class="fas fa-window-close"></i> Đóng</button>
                <button type="button" class="btn btn-primary btn-sm wd-90 float-right" id="btnLuuCauHinh"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<div id="modalChonMaChiNhanh" class="modal-drag" style="width:400px; z-index:9999999;">
    <div class="modal-drag-header px-2 border-bottom">
        <h5><span class="modal-drag-title">Chọn chi nhánh</span> <span data-dismiss="modal-drag"><i class="fa fa-times"></i></span></h5>
    </div>
    <div class="modal-drag-content" style="padding-top:5px;">
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="Tìm kiếm thông tin" class="form-control" id="modalChonMaChiNhanhElementSearch">
            </div>
            <div class="col-12 mt-2 scrollable" style="max-height:230px;" id="modalChonMaChiNhanhDanhSach">

            </div>
        </div>
    </div>
    <div class="modal-drag-footer">
        <button type="button" class="btn btn-primary btn-sm wd-90" id="btnChonMaChiNhanh">
            <i class="fas fa-mouse-pointer mr-2"></i> Chọn
        </button>
    </div>
</div>
