<!-- Full width modal content -->
<div id="inside-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-inside">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title" id="fullWidthModalLabel">Sửa hồ sơ: 004.KD03.BT.XE.20.027908</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="background-color:#54667a0a">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-9 col-md-12 pr-0">
                        <div class="card border p-2">
                            <div class="card-body p-1">
                                <form class="form" method="post">
                                    <div class="wizard">
                                        <div class="wizard-inner">
                                            <div class="connecting-line"></div>
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="nav-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Diễn biến tổn thất">
                                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" class="nav-link active">
                                                        <span class="round-tab">
                                                            <i class="fa fa-building"></i>
                                                        </span>
                                                    </a>
                                                    <p class="text-center" style="margin:-15px 0 5px 0">Diễn biến tổn thất</p>
                                                </li>
                                                <li role="presentation" class="nav-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Đề xuất bồi thường">
                                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" class="nav-link disabled">
                                                        <span class="round-tab">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                    </a>
                                                    <p class="text-center" style="margin:-15px 0 5px 0">Thông tin giám định</p>
                                                </li>
                                                <li role="presentation" class="nav-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Tính toán bồi thường">
                                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" class="nav-link disabled">
                                                        <span class="round-tab">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </a>
                                                    <p class="text-center" style="margin:-15px 0 5px 0">Hình ảnh, hồ sơ</p>
                                                </li>
                                                <li role="presentation" class="nav-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Trình duyệt bồi thường">
                                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" class="nav-link disabled">
                                                        <span class="round-tab">
                                                            <i class="fa fa-phone"></i>
                                                        </span>
                                                    </a>
                                                    <p class="text-center" style="margin:-15px 0 5px 0">Đánh giá tổn thất</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                <div class="row">
                                                    <div class="col-9 pr-0">
                                                        <div class="card">
                                                            <div class="card-body px-0">
                                                                <div class="border mb-3" style="border-radius:5px">
                                                                    <h5 class="p-2 m-0" style="background-color:#54667a0a">Diễn biến, nguyên nhân tổn thất</h5>
                                                                    <table class="table table-striped">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Ngày mở hsbt</td>
                                                                                <td>16/08/2020 03:23</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Xe tổn thất</td>
                                                                                <td>BX: 15A32472 <br>SK: RNYTB51M5HC107857 <br>SM: G4LAHP008003</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Số hợp đồng</td>
                                                                                <td>004.KD03.HD.XE.20.037160</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>GCN bảo hiểm</td>
                                                                                <td>0011+20032304</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="card">
                                                            <div class="card-body px-0">
                                                                <div class="border mb-3" style="border-radius:5px">
                                                                    <h5 class="p-2 m-0" style="background-color:#54667a0a">Danh sách các vụ tổn thất</h5>
                                                                    <table class="table table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">Giờ xảy ra</th>
                                                                                <th class="text-center">Ngày xảy ra</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-center">
                                                                            <tr>
                                                                                <td>03:23</td>
                                                                                <td>16/08/2020 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>03:23</td>
                                                                                <td>16/08/2020 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>03:23</td>
                                                                                <td>16/08/2020 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>03:23</td>
                                                                                <td>16/08/2020 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>03:23</td>
                                                                                <td>16/08/2020 </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="list-inline text-md-right">
                                                    <li>
                                                        <button type="button" class="btn btn-info next-step next-button">Tiếp theo</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                <h1 class="text-md-center">Đề xuất bồi thường</h1>
                                                <div class="row">


                                                </div>
                                                <ul class="list-inline text-md-center">
                                                    <li><button type="button" class="btn btn-info next-step next-button">Tiếp theo</button></li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                <h1 class="text-md-center">Tính toán bồi thường</h1>
                                                <div class="row">

                                                </div>
                                                <ul class="list-inline text-md-center">
                                                    <li><button type="button" class="btn btn-info next-step next-button">Tiếp theo</button></li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step4">
                                                <h1 class="text-md-center">Trình duyệt bồi thường</h1>
                                                <div class="row">

                                                </div>
                                                <ul class="list-inline text-md-center">
                                                    <li><button type="button" class="btn btn-info next-step next-button">Tiếp theo</button></li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step5">
                                                <h1 class="text-md-center">Thành công!</h1>
                                                <div class="row">


                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-selected="true">
                                        <span class="d-none d-md-block"><i class="fas fa-info-circle"></i> Thông tin chung</span>
                                        <span class="d-block d-md-none">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-selected="false">
                                        <span class="d-none d-md-block"><i class="fas fa-eye"></i> Quá trình giải quyết</span>
                                        <span class="d-block d-md-none">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">
                                        <span class="d-none d-md-block"><i class="fas fa-history"></i> Lịch sử tổn thất</span>
                                        <span class="d-block d-md-none">
                                            <i class="fas fa-history"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content border border-top-0" id="rightTab" style="height:70vh; overflow: auto;">
                                <div class="tab-pane active" id="general" role="tabpanel">
                                    <div class="card-body px-1">
                                        <div class="border mb-3" style="border-radius:5px">
                                            <h5 class="p-2 m-0" style="background-color:#54667a0a">Thông tin xe tổn thất</h5>
                                            <table class="table">
                                                <tr>
                                                    <td>Ngày mở hsbt</td>
                                                    <td>16/08/2020 03:23</td>
                                                </tr>
                                                <tr>
                                                    <td>Xe tổn thất</td>
                                                    <td>BX: 15A32472 <br />SK: RNYTB51M5HC107857 <br />SM: G4LAHP008003</td>
                                                </tr>
                                                <tr>
                                                    <td>Số hợp đồng</td>
                                                    <td>004.KD03.HD.XE.20.037160</td>
                                                </tr>
                                                <tr>
                                                    <td>GCN bảo hiểm</td>
                                                    <td>0011+20032304</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="border" style="border-radius:5px">
                                            <h5 class="p-2 m-0" style="background-color:#54667a0a">Khách hàng</h5>
                                            <table class="table">
                                                <tr>
                                                    <td>Thời gian mở hồ sơ bồi thường</td>
                                                    <td>16/08/2020 03:23</td>
                                                </tr>
                                                <tr>
                                                    <td>Xe tổn thất</td>
                                                    <td>BX: 15A32472 <br />SK: RNYTB51M5HC107857 <br />SM: G4LAHP008003</td>
                                                </tr>
                                                <tr>
                                                    <td>Số hợp đồng</td>
                                                    <td>004.KD03.HD.XE.20.037160</td>
                                                </tr>
                                                <tr>
                                                    <td>GCN bảo hiểm</td>
                                                    <td>0011+20032304</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="home" role="tabpanel">
                                    <div class="card-body">
                                        <div class="profiletimeline position-relative">
                                            <div class="sl-item mt-2 mb-3">
                                                <div class="sl-left float-left mr-3"> <img src="~/admin/images/users/1.jpg" alt="user" class="rounded-circle"> </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <div class="d-md-flex">
                                                            <h5 class="mb-0 font-weight-light">
                                                                <a href="#" class="link">John Doe</a>
                                                            </h5>
                                                            <span class="sl-date text-muted ml-1">5 phút trướcs</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="sl-item mt-2 mb-3">
                                                <div class="sl-left float-left mr-3"> <img src="~/admin/images/users/2.jpg" alt="user" class="rounded-circle"> </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <div class="d-md-flex">
                                                            <h5 class="mb-0 font-weight-light"><a href="#" class="link">John Doe</a></h5>
                                                            <span class="sl-date text-muted ml-1">5 phút trước</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="sl-item mt-2 mb-3">
                                                <div class="sl-left float-left mr-3"> <img src="~/admin/images/users/3.jpg" alt="user" class="rounded-circle"> </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <div class="d-md-flex">
                                                            <h5 class="mb-0 font-weight-light"><a href="#" class="link">John Doe</a></h5>
                                                            <span class="sl-date text-muted ml-1">5 phút trước</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="sl-item mt-2 mb-3">
                                                <div class="sl-left float-left mr-3">
                                                    <img src="~/admin/images/users/4.jpg" alt="user" class="rounded-circle">
                                                </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <div class="d-md-flex">
                                                            <h5 class="mb-0 font-weight-light">
                                                                <a href="#" class="link">John Doe</a>
                                                            </h5>
                                                            <span class="sl-date text-muted ml-1">5 phút trước</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--second tab-->
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="card-body">
                                        <p class="mt-4">
                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus.
                                            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                                            ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                        <h4 class="font-medium mt-4">Skill Set</h4>
                                        <hr>
                                        <h5 class="mt-4">Wordpress <span class="pull-right">80%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                        <h5 class="mt-4">HTML 5 <span class="pull-right">90%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                        <h5 class="mt-4">jQuery <span class="pull-right">50%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                        <h5 class="mt-4">Photoshop <span class="pull-right">70%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <form class="form-horizontal form-material" method="post">
                                            <div class="form-group">
                                                <label class="col-md-12">Full Name</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Email</label>
                                                <div class="col-md-12">
                                                    <input type="email" fn-validate="validateEmailControl" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Password</label>
                                                <div class="col-md-12">
                                                    <input type="password" value="password" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Phone No</label>
                                                <div class="col-md-12">
                                                    <input type="text" fn-validate="validatePhoneControl" placeholder="123 456 7890" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Message</label>
                                                <div class="col-md-12">
                                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">Select Country</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control form-control-line">
                                                        <option>London</option>
                                                        <option>India</option>
                                                        <option>Usa</option>
                                                        <option>Canada</option>
                                                        <option>Thailand</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Update Profile</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->