<style>
    .img-container-ocr {
        width: 100% !important;
        left: 0px !important;
    }

    #dsHinhAnhHoSoOCR img:hover {
        border: 2px solid #009efb;
    }

    #dsHinhAnhHangMucGiayToOCR img:hover {
        border: 2px solid #009efb;
    }

    #modalHealthClaimCompareData th {
        padding: 0.4rem !important;
    }

    #modalHealthClaimCompareData td {
        padding: 0.4rem !important;
    }

    #tblDanhSachHinhAnhHoSoGiayToOCR input {
        color: white !important;
        position: absolute !important;
        z-index: 9;
        opacity: 1;
        width: 15px;
        height: 15px;
        margin-left: 3px !important;
    }

    #tblDanhSachThongTinHoSoGiayToOCR input {
        color: white !important;
        position: absolute !important;
        z-index: 9;
        opacity: 1;
        width: 15px;
        height: 15px;
        margin-left: 3px !important;
    }

    .table-so-sanh tbody tr td {
        padding: 0.4rem;
    }
</style>

<div id="modalHealthClaimCompareData" class="modal fade" tabindex="-1" data-backdrop="false" data-keyboard="false" role="dialog" aria-hidden="true" style="z-index: 1600;width:80%;top: 2%; left: 10%;">
    <div class="modal-dialog" style="width:100%;max-width:unset">
        <div class="modal-content" style="border:3px solid #1e88e5;box-shadow: 1px 8px 10px 0px rgb(106 160 201);">
            <div class="modal-header py-1 px-2" style="background-color:#0069d9; cursor:pointer;border:unset;">
                <h6 class="modal-title" style="color:#fff">Thông tin OCR hồ sơ giấy tờ</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: 80vh; padding: 3px;">
                <div class="row" style="margin:0; padding:0">
                    <div class="col-9 p-1">
                        <div class="card mb-0 modal-main-content">
                            <div class="card-body px-0" style="padding-top:0 !important">
                                <div class="border rounded">
                                    <div class="text-left p-1 card-title-bg font-weight-bold">
                                        <span class="title-ocr">SO SÁNH THÔNG TIN OCR</span>
                                    </div>
                                </div>
                                <div class="border rounded px-2" style="height: 74.5vh; overflow-x: hidden;">
                                    <div class="card mb-0">
                                        <form name="frmOCRGiayTo" method="post">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center font-weight-bold">
                                                                <th style="width: 150px;">TÊN</th>
                                                                <th style="width: 350px;">THÔNG TIN OCR</th>
                                                                <th style="width: 20px;"></th>
                                                                <th style="width: 350px;">THÔNG TIN HỒ SƠ</th>
                                                                <th style="width: 40px;">
                                                                    <div class="custom-control custom-checkbox ml-2">
                                                                        <input type="checkbox" onchange="onChonTatCa(this)" id="ocr_chon_tat_ca" class="custom-control-input">
                                                                        <label class="custom-control-label" for="ocr_chon_tat_ca">&nbsp;</label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="modalCompareDataOCRGiayTo">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-12 d-none" id="modalFormHoaDonChiTiet">
                                                    <label class="my-1 font-weight-bold">THÔNG TIN OCR HÓA ĐƠN CHI TIẾT</label>
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th style="width: 200px;">Tên dịch vụ</th>
                                                                <th style="width: 70px;">Đơn vị tính</th>
                                                                <th style="width: 70px;">Số lượng</th>
                                                                <th style="width: 70px;">Đơn giá</th>
                                                                <th style="width: 70px;">Thành tiền</th>
                                                                <th style="width: 200px;">
                                                                    Chọn loại chi phí
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="modalCompareDataOCRHoaDonChiTiet">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-12 d-none" id="modalFormBangKeChiTiet">
                                                    <label class="my-1 font-weight-bold">THÔNG TIN OCR BẢNG KÊ CHI TIẾT</label>
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th style="width:340px;">Tên dịch vụ</th>
                                                                <th style="width:70px;">Đơn giá</th>
                                                                <th style="width:70px;">Số lượng</th>
                                                                <th style="width:200px;">Thành tiền</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="modalCompareDataOCRBangKeChiTiet">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-1">
                        <div class="card m-0">
                            <div class="card-body p-0">
                                <div class="border rounded">
                                    <div class="modal-tai-lieu">
                                        <ul class="nav nav-pills" id="navOCRGiayToContent" role="tablist" style="background-color: #f2f2f2;">
                                            <li class="nav-item font-weight-bold p-1" style="width: 50%; text-align: center;">
                                                <a class="nav-link active p-1" data-toggle="tab" href="#tabThongTinHinhAnhOCR" role="tab" aria-controls="home" aria-selected="true">
                                                    <i class="fas fa-image mr-2"></i> Tài liệu hình ảnh
                                                </a>
                                            </li>
                                            <li class="nav-item font-weight-bold p-1" style="width: 50%; text-align: center;">
                                                <a class="nav-link p-1" data-toggle="tab" href="#tabThongTinHoSoGiayToOCR" role="tab" aria-controls="home" aria-selected="true">
                                                    <i class="fas fa-file-pdf mr-2"></i> Hồ sơ giấy tờ
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" style="border: unset;">
                                            <div class="tab-pane p-2" role="tabpanel" id="tabThongTinHoSoGiayToOCR">
                                                <div class="card-body p-0">
                                                    <div style="width: 100%; vertical-align: middle; height: 71.4vh;" class="scrollable">
                                                        <ul style="padding:0px; margin:unset; list-style:none;" id="tblDanhSachThongTinHoSoGiayToOCR"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane active p-0" role="tabpanel" id="tabThongTinHinhAnhOCR">
                                                <div class="text-left p-1 card-title-bg font-weight-bold border-bottom">
                                                    <div class="custom-control custom-checkbox ml-1">
                                                        <input type="checkbox" onchange="onCheckedAll(this)" id="checked_all" class="custom-control-input">
                                                        <label class="custom-control-label font-weight-bold" for="checked_all" style="margin-left: 3px;"><a href="#">Chọn tất cả giấy tờ tài liệu</a></label>
                                                    </div>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div style="width: 100%; vertical-align: middle; height: 69.3vh;" class="scrollable">
                                                        <div style="width:100%" id="tblDanhSachHinhAnhHoSoGiayToOCR" class="list-pictures-tai-lieu-ocr">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: block;padding: 0.25rem !important;">
                <button type="button" class="btn btn-primary btn-sm wd-90 float-right" data-dismiss="modal">
                    <i class="fas fa-window-close mr-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-primary btn-sm wd-90 float-right" id="btnDocOCRGiayTo">
                    <i class="fa fa-qrcode mr-2"></i>Đọc OCR
                </button>
                <button type="button" class="btn btn-primary btn-sm wd-190 float-right" onclick="sdDuLieuOCR(this)">
                    <i class="fas fa-adjust mr-2"></i>Sử dụng dữ liệu OCR
                </button>
            </div>
        </div>
    </div>
</div>

@*Modal chọn loại chi phí*@
<div id="modalChonLoaiChiPhiOCR" class="modal-drag" style="width:350px; z-index:9999999;">
    <div class="modal-drag-header border-bottom">
        <h5 style="margin-left:10px;"><span class="modal-drag-title">Chọn loại chi phí</span> <span data-dismiss="modal-drag" style="margin-right:10px;"><i class="fa fa-times"></i></span></h5>
    </div>
    <div class="modal-drag-content" style="padding-top:5px;">
        <div class="row">
            <div class="col-12">
                <input type="text" id="inputTimKiemLoaiChiPhi" placeholder="Tìm kiếm thông tin" class="form-control">
                <input type="hidden" id="modalChonLoaiChiPhiElementSelect">
            </div>
            <div class="col-12 mt-2 scrollable" style="max-height:300px;" id="modalChonLoaiChiPhiOCRDanhSach">

            </div>
        </div>
    </div>
</div>
@*Template chọn loại chi phí*@
<script type="text/html" id="modalChonLoaiChiPhiDanhSachOCRTemplate">
    <% if(danh_sach.length > 0){
    _.forEach(danh_sach, function(item,index) { %>
    <div class="custom-control custom-checkbox chi_phi_ocr" id="chi_phi_ocr_<%- item.ma_day_du %>" data-text="<%- item.ten_day_du.toLowerCase() %>">
        <input type="checkbox" id="loai_chi_phi_ocr_<%- item.ma_day_du %>" data-loai="<%- item.loai%>" value="<%- item.ma %>" onchange="onChonLoaiChiPhiOCR(this)" class="custom-control-input single-checked modalChonLoaiChiPhiOCRItem">
        <label class="custom-control-label" style="cursor:pointer;" for="loai_chi_phi_ocr_<%- item.ma_day_du %>"><%- item.ten_day_du %></label>
    </div>
    <% })}else{ %>
    <div class="text-center" style="width:100%">Chưa có dữ liệu</div>
    <% } %>
</script>

@*Danh sách tài liệu hồ sơ hình ảnh*@
<script type="text/html" id="tblDanhSachHinhAnhHoSoGiayToOCR_template">
    <% if(danh_sach.length > 0){ %>
    <% _.forEach(danh_sach, function(item,index) { %>
    <div style="display: inline-block;width:100%;">
        <p style="font-weight: bold;" class="p-2 mb-0">
            <a href="#" onclick="onToggleImageOCR('<%- index %>')"><%- ESUtil.rutGonText(85, item.nhom) %></a>
        </p>
        <ul class="docs-pictures clearfix">
            <% _.forEach(item.children, function(image,index1) { %>
            <li class="p-1" style="width: 108px !important;">
                <input type="checkbox" onclick="onChonAnhOCR('<%- image.so_id%>','<%- image.ma_file%>','<%- image.bt%>')" id="img_<%- image.so_id %>_<%- image.ma_file %>_<%- image.bt %>" class="nhom_anh_ocr_<%- index %> mt-1 images-ocr" value="<%- image.bt%>" data-ma-file="<%- image.ma_file %>" name="ocr_image">
                <% if(_.includes([".jpg", ".png", ".gif",".jpeg"], image.extension)){ %>
                <img onclick="openModalXemHinhAnhHoaDonCTiet('<%- image.ten_file %>','<%- image.bt %>','<%- image.extension %>')" data-original="" location-x="<%- image.x %>" location-y="<%- image.y %>" data-ngay="<%- image.ngay %>" data-nsd="<%- image.nsd%>" data-id="<%- image.so_id %>" data-bt="<%- image.bt %>" data-ma-file="<%- image.ma_file %>" data-pm="<%- image.pm %>" data-cnhanh="<%- image.ma_chi_nhanh %>" src="data:image/png;base64, <%- image.duong_dan %>" alt="<%- image.ten_file %>">
                <% }else if(_.includes([".pdf", ".doc", ".docx"], image.extension)){ %>
                <img onclick="openModalXemHinhAnhHoaDonCTiet('<%- image.ten_file %>','<%- image.bt %>','<%- image.extension %>')" data-original="" location-x="<%- image.x %>" location-y="<%- image.y %>" data-id="<%- image.so_id %>" data-bt="<%- image.bt %>" data-ma-file="<%- image.ma_file %>" data-pm="<%- image.pm %>" data-cnhanh="<%- image.ma_chi_nhanh %>" src="/images/pdf-image.png" alt="<%- image.ten_file %>">
                <% } else if(_.includes([".xml"], image.extension)){%>
                <img onclick="openModalXemHinhAnhHoaDonCTiet('<%- image.ten_file %>','<%- image.bt %>','<%- image.extension %>')" data-original="" location-x="<%- image.x %>" location-y="<%- image.y %>" data-id="<%- image.so_id %>" data-bt="<%- image.bt %>" data-ma-file="<%- image.ma_file %>" data-pm="<%- image.pm %>" data-cnhanh="<%- image.ma_chi_nhanh %>" src="/images/xml.png" alt="<%- image.ten_file %>">
                <% } else if(_.includes([".xlsx", ".xls"], image.extension)){%>
                <img onclick="openModalXemHinhAnhHoaDonCTiet('<%- image.ten_file %>','<%- image.bt %>','<%- image.extension %>')" data-original="" location-x="<%- image.x %>" location-y="<%- image.y %>" data-id="<%- image.so_id %>" data-bt="<%- image.bt %>" data-ma-file="<%- image.ma_file %>" data-pm="<%- image.pm %>" data-cnhanh="<%- image.ma_chi_nhanh %>" src="/images/excel-logo.jpg" alt="<%- image.ten_file %>">
                <% } %>
            </li>
            <% }) %>
        </ul>
    </div>
    <% })} %>
</script>
@*Thông tin chung OCR*@
<script type="text/html" id="modalCompareDataOCRGiayToTemplate">
    <% if(data!==undefined && data!==null && data.length > 0){%>
    <%_.forEach(data, function(item,index) {%>
    <tr class="row_item">
        <%if(item.nd_so_sanh != false){%>
        <td><%- item.noi_dung %></td>
        <%if(item.loai == 'BENH_VIEN'){%>
        <td class="text-center">
            <input type="hidden" class="combobox" data-field="loai" data-val="<%- item.loai%>" />
            <%if(item.benh_vien != null && item.benh_vien != "" && item.benh_vien != undefined){%>
            <input type="text" autocomplete="off" class="floating-input combobox text-center text-primary cursor-pointer" onclick="chonBenhVienOCR(this)" data-field="gia_tri" data-val="<%- item.benh_vien%>" value="<%- item.nd_ocr %>">
            <%}else{%>
            <input type="text" autocomplete="off" class="floating-input combobox text-center text-danger cursor-pointer" onclick="chonBenhVienOCR(this)" data-field="gia_tri" data-val="<%- item.benh_vien%>" value="<%- item.nd_ocr %>">
            <%}%>
        </td>
        <%}else{%>
        <td class="text-center">
            <input type="hidden" class="combobox" data-field="loai" data-val="<%- item.loai%>" />
            <input type="text" autocomplete="off" class="floating-input text-center combobox cursor-pointer" onchange="suaNoiDungOCR(this)" data-field="gia_tri" data-val="<%- item.nd_ocr %>" value="<%- item.nd_ocr %>" />
        </td>
        <%}%>
        <td class="text-center"><% if(item.so_sanh) { %> <i class="fas fa-check text-success"></i> <%} else { %><i class="fas fa-times text-danger"></i> <%}%></td>
        <td class="text-center"><%- item.nd_goc %></td>
        <td class="text-right">
            <div class="custom-control custom-checkbox ml-2">
                <input type="checkbox" onchange="onChonDuLieuOCR(this, '<%- item.loai %>')" id="ocr_<%- index + 1%>" class="custom-control-input ocr_item">
                <label class="custom-control-label" for="ocr_<%- index + 1%>">&nbsp;</label>
            </div>
        </td>
        <%}%>
    </tr>
    <% })}else{%>
    <tr class="text-center">
        <td colspan="5">Chưa có dữ liệu</td>
    </tr>
    <%}%>
</script>
<script type="text/html" id="modalCompareDataOCRBangKeChiTietTemplate">
    <% if(data!==undefined && data!==null && data.length > 0){%>
    <%_.forEach(data, function(item,index) {%>
    <tr class="row_item">
        <td class="text-left">
            <input class="floating-input form-control" type="text" data-field="ten_dich_vu" value="<%- item.ten_dich_vu %>" />
        </td>
        <td class="text-center"><%- ESUtil.formatMoney(item.don_gia) %></td>
        <td class="text-center"><%- item.so_luong %></td>
        <td class="text-center"><%- ESUtil.formatMoney(item.thanh_tien) %></td>
    </tr>
    <% })}else{%>
    <tr class="text-center">
        <td colspan="4">Chưa có dữ liệu</td>
    </tr>
    <%}%>
</script>

@*Thông tin OCR hóa đơn*@
<script type="text/html" id="modalCompareDataOCRHoaDonChiTietTemplate">
    <% if(data!==undefined && data!==null && data.length > 0){%>
    <%_.forEach(data, function(item,index) {%>
    <tr class="row_item">
        <td class="text-left">
            <input class="floating-input form-control" type="text" data-field="ten_dich_vu" value="<%- item.ten_dich_vu %>" />
            <input class="floating-input form-control" type="hidden" data-field="dvi_tinh" value="<%- item.dvi_tinh %>" />
            <input class="floating-input form-control number" type="hidden" data-field="so_luong" value="<%- item.so_luong %>" />
            <input class="floating-input form-control number" type="hidden" data-field="don_gia" value="<%- item.don_gia %>" />
            <input class="floating-input form-control number" type="hidden" data-field="thanh_tien" value="<%- item.thanh_tien %>" />
            <input class="floating-input form-control" type="hidden" data-field="ten_chi_phi" value="<%- item.ten_chi_phi %>" />
            <input class="floating-input form-control" type="hidden" data-field="loai_chi_phi" value="<%- item.loai_chi_phi %>" />
        </td>
        <td class="text-center"><%- item.dvi_tinh_ten %></td>
        <td class="text-center">
            <input type="text" autocomplete="off" class="floating-input text-center number combobox cursor-pointer" onchange="suaNoiDungOCR(this)" data-field="so_luong" data-val="<%- item.so_luong %>" value="<%- item.so_luong %>" />
        </td>
        <td class="text-center"><%- ESUtil.formatMoney(item.don_gia) %></td>
        <td class="text-center">
            <% if(item.thanh_tien == 0){%>
                <input type="text" autocomplete="off" class="floating-input text-center number cursor-pointer" onchange="suaNoiDungOCR(this)" data-field="don_gia" data-val="<%- item.don_gia %>" value="<%- ESUtil.formatMoney(item.don_gia) %>" />
            <%}else{%>
                <input type="text" autocomplete="off" class="floating-input text-center number cursor-pointer" onchange="suaNoiDungOCR(this)" data-field="thanh_tien" data-val="<%- item.thanh_tien %>" value="<%- ESUtil.formatMoney(item.thanh_tien) %>" />
            <%}%>
        </td>
        <td class="text-center">
            <%if(item.ma_chi_phi == "" || item.ma_chi_phi == null){%>
            <a class="cursor-pointer" onclick="capNhatLoaiChiPhi(this)" href="#" data-field="ma_chi_phi" data-val="<%- item.ma_chi_phi%>" title="<%- item.ten_chi_phi %>">Chọn loại chi phí</a>
            <%}else{%>
            <a class="cursor-pointer" onclick="capNhatLoaiChiPhi(this)" href="#" data-field="ma_chi_phi" data-val="<%- item.ma_chi_phi%>" title="<%- item.ten_chi_phi %>"><%- ESUtil.rutGonText(50, item.ten_chi_phi) %></a>
            <%}%>
        </td>
    </tr>
    <% })}else{%>
    <tr class="text-center">
        <td colspan="6">Chưa có dữ liệu</td>
    </tr>
    <%}%>
</script>


