<div class="custom-modal">
    <div id="modalDonViPhatHanhHoaDon" style="width:350px;height:190px;" class="modal fade" tabindex="-1" data-backdrop="false" data-keyboard="false" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:unset;margin: unset;">
            <div class="modal-content" style="border:1px solid rgba(0, 0, 0, .2);box-shadow: 1px 8px 10px 0px rgb(106 160 201);">
                <div class="modal-header py-1" style="background-color:#1e88e5; cursor:pointer;border:unset;">
                    <h4 class="modal-title" style="color:#fff">Đọc hóa đơn điện tử</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="padding-bottom:0px">
                    <form name="frmUploadHDDT" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="_required">Đơn vị phát hành</label>
                                    <select class="select select2 form-control custom-select" required name="dvi_ph" style="width:100%">
                                        <option value="">Chọn đơn vị phát hành</option>
                                        <option value="BENH_VIEN">Bệnh viện</option>
                                        <option value="NHA_THUOC">Nhà thuốc</option>
                                        <option value="KHAC">Khác</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label id="fileNameHoaDonDT"></label>
                                <input style="display:none" id="fileHoaDonDT" accept="text/xml" type="file" name="file" value="" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="padding:0px">
                    <button type="button" class="btn btn-primary btn-sm wd-90 float-right" id="btnChonFileHoaDon">
                        <i class="fas fa-upload"></i> Chọn file
                    </button>
                    <button type="button" class="btn btn-primary btn-sm wd-90 float-right" id="btnDocFileHoaDon">
                        <i class="fas fa-save"></i> Đọc file
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>