<style>
    #divPhanCapGiamDinhBBNhomPC {
        max-height: 190px;
    }
    #divPhanCapHieuLucNhomPC {
        max-height: 50vh;
    }

    .active{
        font-weight: bold;
    }
</style>

<div class="modal fade bs-example-modal-lg" id="modalThemNhomPCChiTiet" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem;">
                <h4 class="modal-title">Phân cấp giám định, bồi thường</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form name="frmThemNhomPCChiTiet" method="post">
                    <input type="hidden" name="so_id" value="" />
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Nhóm phân cấp</label>
                                <div class="form-group">
                                    <select class="select2 form-control custom-select" required name="nhom" style="width: 100%; height:36px;">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Nghiệp vụ</label>
                                <select class="select2 form-control custom-select" required name="nv" style="width: 100%; height:36px;">
                                    <option value="XE">Xe ô tô</option>
                                    <option value="XE_MAY">Xe máy</option>
                                    <option value="NG">Con người</option>
                                    <option value="THANH_TOAN">Thanh toán</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Mã nhóm</label>
                                <div class="form-group">
                                    <input type="text" autocomplete="off" required class="form-control text" name="nhom_moi" placeholder="Nhập mã nhóm ...">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="">Tên nhóm</label>
                                <div class="form-group">
                                    <input type="text" autocomplete="off" required class="form-control text" name="ten" placeholder="Nhập tên nhóm ...">
                                </div>
                            </div>
                        </div>
                        <div class="col-3" id="ma_doi_tac_ql_nhom_pc">
                            <div class="form-group">
                                <label class="_required">Đối tác</label>
                                <select class="select2 form-control custom-select select2-hidden-accessible" required name="ma_doi_tac_ql" style="width: 100%; height:36px;"></select>
                            </div>
                        </div>
                        <div class="col-9" id="ap_dung_cho_can_bo">
                            <div class="form-group">
                                <label class="">Áp dụng cho cán bộ</label>
                                <div class="form-group">
                                    <input style="cursor: pointer" type="text" autocomplete="off" required readonly class="form-control text" name="ad_nsd" placeholder="Chọn cán bộ ..." onclick="chonCanBoPhanCap(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="margin-bottom:unset;">
                            <div class="card-body p-0">
                                <div class="border rounded">
                                    <div class="justify-content-between align-items-center p-2 card-title-bg">
                                        <h6 class="m-0 text-center">Ngày hiệu lực - ngày kết thúc</h6>
                                    </div>
                                    <div class="table-responsive" id="divPhanCapHieuLucNhomPC">
                                        <table class="table table-hover" id="tblDsNgayNhomPC" style="border-bottom:1px solid #e8eef3;">
                                            <tbody class="text-center" id="tblDsNgayBodyNhomPC">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card" style="margin-bottom:unset;">
                            <div class="card-body p-0">
                                <div class="border rounded" style="height:52vh;">
                                    <div class="row" id="tabXeNhomPC">
                                        <div class="col-12">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb" id="navTableXeNhomPC" style="margin:unset;padding-top:3px; padding-bottom:3px;">
                                                    <li class="breadcrumb-item" data-loai="PCT">
                                                        <a id="phan-cap-chung-tab-nhom-pc" href="#" onclick="openTabNhomPC('PCT')">
                                                            Phân cấp chung
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item" data-loai="GDX">
                                                        <a id="giam-dinh-tab-nhom-pc" href="#" onclick="openTabNhomPC('GDX')">
                                                            Giám định
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item" data-loai="BTX">
                                                        <a id="boi-thuong-tab-nhom-pc" href="#" onclick="openTabNhomPC('BTX')">
                                                            Bồi thường
                                                        </a>
                                                    </li>
                                                </ol>
                                            </nav>
                                            <div class="tab-pane" id="phan_cap_chung_nhom_pc" role="tabpanel" aria-labelledby="phan-cap-chung-tab-nhom-pc">
                                                <div class="table-responsive" id="divPhanCapBoiThuongNhomPC">
                                                    <table id="tablePhanCapChungNhomPC" class="table table-bordered fixed-header">
                                                        <thead class="font-weight-bold card-title-bg">
                                                            <tr class="text-center uppercase" style="background-color: #1e88e5;color:#FFF;">
                                                                <th style="width:4%" class="text-center">STT</th>
                                                                <th style="width: 60%">Tên</th>
                                                                <th style="width: 18%">Tiền</th>
                                                                <th style="width: 18%">Trạng thái</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablePhanCapChungBodyNhomPC">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="giam_dinh_nhom_pc" role="tabpanel" aria-labelledby="giam-dinh-tab-nhom-pc">
                                                <div class="table-responsive" id="divPhanCapGiamDinhNhomPC" style="max-height: 160px;">
                                                    <table id="tablePhanCapGiamDinhNhomPC" class="table table-bordered fixed-header">
                                                        <thead class="font-weight-bold card-title-bg">
                                                            <tr class="text-center uppercase" style="background-color: #1e88e5;color:#FFF;">
                                                                <th style="width:4%" class="text-center">STT</th>
                                                                <th style="width:42%">Loại hình nghiệp vụ</th>
                                                                <th style="width:18%">Tiền thay thế</th>
                                                                <th style="width:18%">Tiền sửa chữa</th>
                                                                <th style="width:18%">Tiền ước BCGĐ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablePhanCapGiamDinhBobyNhomPC">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h6 class="modal-title">Phân cấp giám định bắt buộc</h6>
                                                <div class="table-responsive" id="divPhanCapGiamDinhBBNhomPC">
                                                    <table id="tablePhanCapGiamDinhBBNhomPC" class="table table-bordered fixed-header">
                                                        <thead class="font-weight-bold card-title-bg">
                                                            <tr class="text-center uppercase" style="background-color: #1e88e5; color: #FFF;">
                                                                <th style="width: 4%" class="text-center">STT</th>
                                                                <th style="width: 42%">Loại hình nghiệp vụ</th>
                                                                <th style="width: 18%">
                                                                    Tiền
                                                                    <input type="checkbox" id="chonTatCaTien_PCGDBBNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                                <th style="width: 36%">
                                                                    Tiền ước BCGĐ
                                                                    <input type="checkbox" id="chonTatCaTienUoc_PCGDBBNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablePhanCapGiamDinhBobyBBNhomPC">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="boi_thuong_nhom_pc" role="tabpanel" aria-labelledby="boi-thuong-tab-nhom-pc">
                                                <div class="table-responsive" id="divPhanCapBoiThuongNhomPC">
                                                    <table id="tablePhanCapBoiThuongNhomPC" class="table table-bordered fixed-header">
                                                        <thead class="font-weight-bold card-title-bg">
                                                            <tr class="text-center uppercase" style="background-color: #1e88e5;color:#FFF;">
                                                                <th style="width: 4%" class="text-center">STT</th>
                                                                <th style="width: 42%">Loại hình nghiệp vụ</th>
                                                                <th style="width: 18%">
                                                                    Duyệt phương án
                                                                    <input type="checkbox" id="chonTatCaPhuongAn_xeNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                                <th style="width: 18%">
                                                                    Bảo lãnh
                                                                    <input type="checkbox" id="chonTatCaBaoLanh_xeNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                                <th style="width: 18%">
                                                                    Bồi thường
                                                                    <input type="checkbox" id="chonTatCaBoiThuong_xeNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablePhanCapBoiThuongBodyNhomPC">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-none" id="tabNguoiNhomPC">
                                        <div class="col-12">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb" id="navTableNGNhomPC" style="margin:unset;padding-top:3px; padding-bottom:3px;">
                                                    <li class="breadcrumb-item" data-loai="BTN">
                                                        <a id="boi-thuong-nguoi-nhom-pc-tab" href="#" onclick="openTabNhomPC('BTN')">
                                                            Bồi thường
                                                        </a>
                                                    </li>
                                                </ol>
                                            </nav>
                                            <div class="tab-pane" id="boi_thuong_nguoi_nhom_pc" role="tabpanel" aria-labelledby="boi-thuong-nguoi-nhom-pc-tab">
                                                <div class="table-responsive" id="divPhanCapBoiThuongNguoiNhomPC">
                                                    <table id="tablePhanCapBoiThuongNguoiNhomPC" class="table table-bordered fixed-header">
                                                        <thead class="font-weight-bold card-title-bg">
                                                            <tr class="text-center uppercase" style="background-color: #1e88e5;color:#FFF;">
                                                                <th style="width:4%" class="text-center">STT</th>
                                                                <th style="width:40%">Loại hình nghiệp vụ</th>
                                                                <th style="width:18%">
                                                                    Duyệt phương án
                                                                    <input type="checkbox" id="chonTatCaPhuongAnNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                                <th style="width:18%">
                                                                    Bảo lãnh
                                                                    <input type="checkbox" id="chonTatCaBaoLanhNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                                <th style="width:18%">
                                                                    Bồi thường
                                                                    <input type="checkbox" id="chonTatCaBoiThuongNhomPC" style="position: absolute; top: 11px; right: 5px; width: 13px; height: 13px;">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablePhanCapBoiThuongNguoiBodyNhomPC">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row mt-2 d-none" id="tam_ung_thanh_toan_ng_nhom_pc">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label class="" style="font-weight: bold">Tiền tạm ứng</label>
                                                            <input type="text" maxlength="14" autocomplete="off" name="tien_tam_ung" placeholder="tiền tạm ứng ..." class="form-control number">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label class="" style="font-weight: bold">Tiền thanh toán</label>
                                                            <input type="text" maxlength="14" autocomplete="off" name="tien_thanh_toan" placeholder="tiền thanh toán ..." class="form-control number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display:block;">
                <button type="button" class="btn btn-primary btn-sm wd-95 float-left" id="btnThemMoiNgayPhanCapNhomPC"><i class="fa fa-plus mr-1"></i> Thêm mới</button>
                <button type="button" class="btn btn-primary btn-sm wd-85 float-right" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i> Đóng</button>
                <button type="button" class="btn btn-primary btn-sm wd-85 float-right" id="btnLuuPhanCapGiamDinhBoiThuongNhomPC"><i class="fa fa-save mr-1"></i> Lưu</button>
                <button type="button" class="btn btn-primary btn-sm wd-85 float-right" id="btnLuuPhanCapChungNhomPC"><i class="fa fa-save mr-1"></i> Lưu</button>
                <button type="button" class="btn btn-outline-primary btn-sm wd-85 float-right" id="btnXoaPhanCapNhomPC" style=""><i class="fas fa-trash-alt mr-1"></i> Xóa</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDanhSachNsdPhanCap" class="modal-drag" style="width:350px; z-index:9999999;">
    <div class="modal-drag-header border-bottom">
        <h5 style="margin-left:10px;"><span class="modal-drag-title">Chọn danh sách cán bộ</span> <span data-dismiss="modal-drag" style="margin-right:10px;"><i class="fa fa-times"></i></span></h5>
    </div>
    <div class="modal-drag-content" style="padding-top:5px;">
        <div class="row">
            <div class="col-12">
                <input type="text" id="inputSearch_NsdPhanCap" onkeyup="onSearchNSD(this)" placeholder="Tìm kiếm thông tin" class="form-control">
                <input type="hidden" id="modalNsdPhanCapElementSelect">

            </div>
            <div class="col-12 mt-2 scrollable" style="max-height:250px;" id="modalNsdPhanCapDanhSach">

            </div>
        </div>
    </div>
    <div class="modal-drag-footer" style="height: 32px; border-top: 1px solid #eaeaea; margin:0px 0px 10px 0px;">
        <button type="button" class="btn btn-primary btn-sm wd-85 float-right" id="btnChonNsdPhanCap">
            <i class="fas fa-mouse-pointer mr-1"></i> Chọn
        </button>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalThemPhanCapNhomPC" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 30%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem;">
                <h4 class="modal-title">Thêm phân cấp</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form name="frmThemPhanCapNhomPC" method="post">
                    <input type="hidden" name="nhom_moi" value="" />
                    <input type="hidden" name="so_id" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="_required">Ngày hiệu lực</label>
                                <div class="input-group">
                                    <input type="text" name="ngay_hl" autocomplete="off" display-format="date" value-format="number" required="" class="form-control datepicker" placeholder="Ngày hiệu lực">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><span class="ti-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="_required">Ngày kết thúc</label>
                                <div class="input-group">
                                    <input type="text" name="ngay_kt" autocomplete="off" display-format="date" value-format="number" required="" class="form-control datepicker" placeholder="Ngày kết thúc">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><span class="ti-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="">Nội dung</label>
                                <div class="input-group">
                                    <textarea class="form-control" name="nd" placeholder="Nội dung" rows="5" spellcheck="false"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm wd-85" id="btnLuuNgayPhanCapNhomPC"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" class="btn btn-primary btn-sm wd-85" data-dismiss="modal"><i class="fas fa-window-close"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>