<script type="text/html" id="templateEsChat">
    <div class="container" style="display:none" id="ESChat_<%- ma_doi_tac %>_<%- nsd %>" hien_thi="false">
        <div class="row chat-window col-xs-5 col-md-3" style="margin-left:10px;">
            <div class="col-12 p-0 move-item" style="border:solid 3px #1e88e5;border-radius:0.85rem">
                <div class="card m-0" style="border-radius: 0.85rem">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <h5 class="panel-title ESChatDisplayName">
                                    Không có dữ liệu
                                </h5>
                            </div>
                            <div class="col-3" style="text-align: right;">
                                <a href="#" class="ESChatVideoCall" style="padding-right:5px;" title="Gọi video">
                                    <span class="fa fa-video"></span>
                                </a>
                                <a href="#" style="padding-right:5px;" class="ESChatMinimize">
                                    <span class="fa fa-minus"></span>
                                </a>
                                <a href="#" style="padding-right:5px;" class="ESChatMaximize">
                                    <span class="far fa-window-maximize"></span>
                                </a>
                                <a href="javascript:void(0)" class="ESChat_close">
                                    <span class="fa fa-times"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ESChatContent" id="ESChatContent_<%- ma_doi_tac %>_<%- nsd %>" style="height:50vh;overflow:auto">
                        <p class="ESChatNoneContent" style="text-align:center;opacity:0.5">Không có nội dung hiển thị</p>
                    </div>
                    <div class="card-footer py-0 ESChatFooter">
                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label mt-1">
                                    <input type="text" class="form-control ESChatNotify" id="ESChatNotify_<%- ma_doi_tac %>_<%- nsd %>" autofocus>
                                    <label for="quickreplay2" class="form-control-label">Nhập nội dung tin nhắn</label>
                                </div>
                            </div>
                            <div class="col-auto pl-0 align-self-center">
                                <button class="btn btn-light ESChatAttachFile" id="ESChatAttachFile_<%- ma_doi_tac %>_<%- nsd %>">
                                    <i class="fa fa-paperclip"></i>
                                </button>
                                <button class="btn btn-primary ESChatSubmit" id="ESChatSubmit_<%- ma_doi_tac %>_<%- nsd %>">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="templateTinNhanDen">
    <div class="message-item">
        <img src="~/images/users/1.jpg" alt="avatar" class="avatar1">
        <div class="content">
            <div class="title"><%- nsd_gui_ten %></div>
            <div class="bubble">
                <%- nd %>
            </div>
            <div class="text-muted"><%- thoi_gian %></div>
        </div>
    </div>
</script>
<script type="text/html" id="templateTinNhanDi">
    <div class="message-item user">
        <div class="content">
            <div class="bubble">
                <%- nd %>
            </div>
            <div class="text-muted"><%- thoi_gian %></div>
        </div>
    </div>
</script>
