@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Modal thông tin chi tiết hợp đồng -->
<div id="inside-modal" class="esmodal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-hidden="true">
    <div class="esmodal-dialog">
        <div class="esmodal-content">
            <div class="esmodal-header py-1">
                <h4 class="esmodal-title" id="titleUpdateHD">Xây dựng gói bảo hiểm</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="hideModal()" aria-label="Close" id="btnClose"><span aria-hidden="true">×</span></button>
            </div>
            <div class="esmodal-body" style="background-color:#54667a0a">
                <div class="row">
                    <div class="col-lg-12 col-md-12 info-tab">
                        <div class="card" style="margin-bottom:0px; min-height:600px">
                            <div class="card mb-0" style="min-height: 570px;">
                                <div class="card-body" style="padding:0px">
                                    <div class="border" style="border-radius:5px">
                                        <div class="row">
                                            <div class="col-12">
                                                <div>
                                                    <form name="frmThongTinGoiBH" method="post">
                                                        <div class="row">
                                                            <div class="col-md-12" id="navThongTin">
                                                                <ul class="nav nav-pills" role="tablist" style="background-color:#f8f9fa">
                                                                    <li class="nav-item " style="font-weight:bold">
                                                                        <a class="nav-link active" onclick="hthiTab('tabCauHinhQL')" id="home-tab" data-toggle="tab" href="#tabCauHinhQL" role="tab" aria-controls="home" aria-selected="true">
                                                                            <i class="fas fa-info-circle mr-2"></i> Cấu hình quyền lợi
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item" style="font-weight:bold">
                                                                        <a class="nav-link" id="profile-tab" onclick="hthiTab('tabCauHienTienBH')" data-toggle="tab" href="#tabCauHienTienBH" role="tab" aria-controls="profile" aria-selected="false">
                                                                            <i class="fas fa-funnel-dollar mr-2"></i> Cấu hình tiền bảo hiểm
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item" style="font-weight:bold">
                                                                        <a class="nav-link" id="dkbs-tab" onclick="hthiTab('tabQuyenLoiBoSung')" data-toggle="tab" href="#tabQuyenLoiBoSung" role="tab" aria-controls="profile" aria-selected="false">
                                                                            <i class="fas fa-list-alt mr-2"></i> Quyền lợi bổ sung
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item" style="font-weight:bold">
                                                                        <a class="nav-link" id="dkbs-tab" onclick="hthiTab('tabGhiChuKhac')" data-toggle="tab" href="#tabGhiChuKhac" role="tab" aria-controls="profile" aria-selected="false">
                                                                            <i class="fas fa-list-alt mr-2"></i> Các ghi chú khác
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item" style="font-weight:bold">
                                                                        <a class="nav-link" id="tabLeTyLeDong" onclick="hthiTab('tabTyLeDong')" data-toggle="tab" href="#tabTyLeDong" role="tab" aria-controls="profile" aria-selected="false">
                                                                            <span class="mdi mdi-av-timer">
                                                                                Tỷ lệ đồng - Thời gian chờ
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content">
                                                                    <div class="tab-pane active pd-l-15 pd-r-15" id="tabCauHinhQL" role="tabpanel" aria-labelledby="home-tab">
                                                                        <input type="hidden" name="so_id" value="" />
                                                                        <div class="row mt-2">
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Đối tác</label>
                                                                                    <select class="select2 form-control custom-select" required name="ma_doi_tac" style="width: 100%; height:36px;"></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Sản phẩm</label>
                                                                                    <select class="select2 form-control custom-select" required name="ma_nhom" style="width: 100%; height:36px;"></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Mã gói</label>
                                                                                    <input type="text" maxlength="80" autocomplete="off" required name="ma" class="form-control" placeholder="Mã gói">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Tên gói</label>
                                                                                    <input type="text" maxlength="100" autocomplete="off" name="ten" required class="form-control text" placeholder="Tên gói">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Nhóm gói</label>
                                                                                    <div class="input-group" style="cursor:pointer">
                                                                                        <select class="select2 form-control custom-select" required name="nhom_goi" style="width: 100%; height:36px;"></select>
                                                                                        <div class="input-group-append">
                                                                                            <label class="input-group-text">
                                                                                                <a href="javascript:void(0)" id="btnThemNhomGoi">
                                                                                                    <i class="fas fa-plus-square" title="Thêm nhóm gói"></i>
                                                                                                </a>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Giới tính</label>
                                                                                    <select class="select2 form-control custom-select" required name="gioi_tinh" style="width: 100%; height:36px;">
                                                                                        <option value=" ">Chọn giới tính</option>
                                                                                        <option value="NAM">Nam</option>
                                                                                        <option value="NU">Nữ</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Từ tuổi</label>
                                                                                    <input type="text" maxlength="3" autocomplete="off" name="tuoi_tu" required class="form-control text" placeholder="Từ tuổi">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Đến tuổi</label>
                                                                                    <input type="text" maxlength="3" name="tuoi_toi" autocomplete="off" required class="form-control text" placeholder="Đến tuổi">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label for="ngay_d">Ngày áp dụng</label>
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control datepicker" autocomplete="off" name="ngay_ad" display-format="date" value-format="number" placeholder="dd/mm/yyyy">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text" style="padding: 0.1em 0.4em !important;"><span class="ti-calendar"></span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group">
                                                                                    <label class="_required">Trạng thái</label>
                                                                                    <select class="select2 form-control custom-select" required name="trang_thai" style="width: 100%; height:36px;">
                                                                                        <option value="">Chọn trạng thái</option>
                                                                                        <option value="D">Đang sử dụng</option>
                                                                                        <option value="C">Chưa sử dụng</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4" style="margin-top: 1.3rem">
                                                                                <button type="button" class="btn btn-primary btn-sm mr-2" id="btnExportExcel" title="export excel">
                                                                                    <i class="fas fa-download mr-2"></i> Export
                                                                                </button>
                                                                                <button type="button" class="btn btn-primary btn-sm mr-2" id="btnImportExcel" title="import excel">
                                                                                    <i class="fas fa-upload mr-2"></i> Import
                                                                                </button>
                                                                                <button type="button" class="btn btn-primary btn-sm mr-2" id="btnLuu" title="Lưu gói">
                                                                                    <i class="fa fa-save mr-2"></i> Lưu
                                                                                </button>
                                                                                <button type="button" class="btn btn-primary btn-sm mr-2" id="btnCopy" title="Lưu gói">
                                                                                    <i class="fa fa-clone mr-2"></i> Copy
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-6">
                                                                                <div class="card" style="margin-bottom:0px;">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="border mb-3 rounded">
                                                                                            <div>
                                                                                                <div style="width:100%" class="mt-1 pd-l-10 pd-r-10">
                                                                                                    <input type="text" placeholder="Nhập tên quyền lợi" class="form-control" id="timKiemQLGoi" value="" />
                                                                                                </div>
                                                                                                <div class="scrollable" id="treeQuyenLoiGoi"></div>
                                                                                            </div>
                                                                                            <div class="row mb-2 mt-2">
                                                                                                <div class="col col-12">
                                                                                                    <button type="button" class="btn btn-primary btn-sm mr-2" style="float:right" id="btnXoaQuyenLoi" title="Xóa quyền lợi">
                                                                                                        <i class="fa fa-times mr-2"></i> Xóa quyền lợi
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <div class="card" style="margin-bottom:0px;">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="border mb-3 rounded">
                                                                                            <div>
                                                                                                <div style="width:100%" class="mt-1 pd-l-10 pd-r-10">
                                                                                                    <input type="text" placeholder="Nhập tên quyền lợi" class="form-control" id="timKiemQLSP" value="" />
                                                                                                </div>
                                                                                                <div class="scrollable" id="treeQuyenLoiSP"></div>
                                                                                            </div>
                                                                                            <div class="row mb-2 mt-2">
                                                                                                <div class="col col-12">
                                                                                                    <button type="button" class="btn btn-primary btn-sm mr-2" style="float:right" id="btnThemQuyenLoi" title="Thêm quyền lợi">
                                                                                                        <i class="fa fa-plus mr-2"></i> Thêm quyền lợi vào gói
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="tabCauHienTienBH" role="tabpanel" aria-labelledby="home-tab">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="table-responsive" style="max-height:510px">
                                                                                    <table class="table table-bordered fixed-header" style="width:130%;">
                                                                                        <thead class="font-weight-bold text-center uppercase">
                                                                                            <tr>
                                                                                                <th style="width:40px">STT</th>
                                                                                                <th style="width:500px">Điều khoản</th>
                                                                                                <th style="width:100px">Số lần/ngày<span style="color:red">*</span></th>
                                                                                                <th style="width:120px">Q.Lợi/lần/ngày<span style="color:red">*</span></th>
                                                                                                <th style="width:120px">Q.Lợi/năm<span style="color:red">*</span></th>
                                                                                                <th style="width: 130px; display: none">LHNV</th>
                                                                                                <th style="width:100px">Tỷ lệ đồng</th>
                                                                                                <th style="width:100px">T.Gian chờ</th>
                                                                                                <th style="width:100px">TL Phí</th>
                                                                                                <th style="width:120px">Phí BH</th>
                                                                                                <th style="width:120px">Ghi chú</th>
                                                                                                <th style="width:100px">TG gia hạn</th>
                                                                                                <th style="width:120px">Quyền lợi</th>
                                                                                                <th style="width:120px">Loại</th>
                                                                                                <th style="width:120px">Loại q</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tableNhapQLoi">
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-2 mt-2">
                                                                            <div class="col col-12">
                                                                                <button type="button" class="btn btn-primary btn-sm mg-r-15" style="float:right" id="btnLuuTienQLoi" title="Thêm quyền lợi">
                                                                                    <i class="fa fa-save mr-2"></i> Lưu
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="tabQuyenLoiBoSung" role="tabpanel" aria-labelledby="home-tab">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="table-responsive" style="max-height:510px">
                                                                                    <table class="table table-bordered fixed-header">
                                                                                        <thead class="font-weight-bold text-center uppercase">
                                                                                            <tr>
                                                                                                <th style="width:20%">ĐIỀU KHOẢN BỔ SUNG</th>
                                                                                                <th style="width:18%">GHI CHÚ</th>
                                                                                                <th style="width:8%">SỐ LẦN/NGÀY</th>
                                                                                                <th style="width:8%">TIỀN LẦN/NGÀY</th>
                                                                                                <th style="width:8%">TIỀN NĂM</th>
                                                                                                <th style="width:10%">ĐỒNG BẢO HIỂM (%)</th>
                                                                                                <th style="width:8%">SỐ NGÀY CHỜ</th>
                                                                                                <th style="width:8%">PHÍ</th>
                                                                                                <th style="width:8%">TỶ LỆ PHÍ (%)</th>
                                                                                                <th style="width:6%; text-align:center"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tableDKBS"></tbody>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <a href="#" onclick="chonDKBS(this)">
                                                                                                        <i class="fas fa-plus-square mr-2"></i>Thêm điều khoản bổ sung
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                        </tfoot>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-2 mt-2">
                                                                            <div class="col col-12">
                                                                                <button type="button" class="btn btn-primary btn-sm mg-r-15" style="float:right" id="btnLuuDKBS" title="Thêm điều khoản">
                                                                                    <i class="fa fa-save mr-2"></i> Lưu
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="tabGhiChuKhac" role="tabpanel" aria-labelledby="home-tab">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="table-responsive" style="max-height:510px">
                                                                                    <table class="table table-bordered fixed-header">
                                                                                        <thead class="font-weight-bold text-center uppercase">
                                                                                            <tr>
                                                                                                <th style="width:5%">STT</th>
                                                                                                <th style="width:90%">GHI CHÚ</th>
                                                                                                <th style="width:5%; text-align:center"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tableGhiChuKhac"></tbody>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <td colspan="2">
                                                                                                    <a href="#" onclick="themGhiChu(this)">
                                                                                                        <i class="fas fa-plus-square mr-2"></i>Thêm ghi chú
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                        </tfoot>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-2 mt-2">
                                                                            <div class="col col-12">
                                                                                <button type="button" class="btn btn-primary btn-sm mg-r-15" style="float:right" id="btnLuuGhiChuKhac" title="Thêm điều khoản">
                                                                                    <i class="fa fa-save mr-2"></i> Lưu
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="tabTyLeDong" role="tabpanel" aria-labelledby="home-tab">
                                                                        <div class="d-flex justify-content-between align-items-center p-2" style="padding-bottom:unset">
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <label>Bệnh viện công - tỷ lệ đồng(%)</label>
                                                                                    <input type="text" id="bvc_tl_dong" autocomplete="off" maxlength="3" placeholder="Tỷ lệ đồng(%)" class="form-control decimal">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <label>Bệnh viện công - thời gian chờ(ngày)</label>
                                                                                    <input type="text" id="bvc_tg_cho" autocomplete="off" maxlength="3" placeholder="Thời gian chờ(ngày)" class="form-control decimal">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <label>Bệnh viện tư - tỷ lệ đồng(%)</label>
                                                                                    <input type="text" id="bvt_tl_dong" autocomplete="off" maxlength="3" placeholder="Tỷ lệ đồng(%)" class="form-control decimal">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group">
                                                                                    <label>Bệnh viện tư - thời gian chờ(ngày)</label>
                                                                                    <input type="text" id="bvt_tg_cho" autocomplete="off" maxlength="3" placeholder="Thời gian chờ(ngày)" class="form-control decimal">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center p-2">
                                                                            <div class="col-sm-12">
                                                                                <h5 class="m-0">Cấu hình mã bệnh</h5>
                                                                                <div class="table-responsive" style="max-height: 400px">
                                                                                    <table id="tblCauHinhMaBenh" class="table table-bordered fixed-header">
                                                                                        <thead class="font-weight-bold">
                                                                                            <tr class="text-center uppercase">
                                                                                                <th width="20%">Mã bệnh</th>
                                                                                                <th width="20%">Tỷ lệ đồng (%)</th>
                                                                                                <th width="20%">Thời gian chờ (ngày)</th>
                                                                                                <th style="width:6%"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="modalThemMaBenh"></tbody>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <a href="#" onclick="chonCauHinhMaBenh(this)">
                                                                                                        <i class="fas fa-plus-square mr-2"></i>Thêm mã bệnh
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                        </tfoot>
                                                                                    </table>
                                                                                </div>
                                                                                <div class="modal-footer" style="display:block">
                                                                                    <button type="button" class="btn btn-primary btn-sm wd-90 float-right" id="btnLuuTyLeDong">
                                                                                        <i class="fa fa-save mr-2"></i>Lưu
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupoverNhapTien" class="popover popover-x popover-default" style="display:none; max-width:500px">
    <div class="arrow"></div>
    <h3 class="popover-header popover-title">
        <span class="close pull-right" data-dismiss="popover-x">&times;</span>Nhập tiền bảo hiểm
    </h3>
    <div class="popover-body popover-content">
        <form name="frmNhapTien" method="post">
            <input type="hidden" name="id" value="" />
            <div class="row">
                <div class="col-12">
                    <h6 id="frmNhapTien_ten" style="font-weight:bold; font-size:13px;"></h6>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="_required">Tiền BH/năm</label>
                        <input type="text" autocomplete="off" class="form-control number" required name="tien_nam" placeholder="Tổng tiền bảo hiểm/năm">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="_required">Tiền BH/lần/ngày</label>
                        <input type="text" autocomplete="off" class="form-control number" required name="tien_lan_ngay" placeholder="Tiền BH/lần/ngày">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="_required">Số lần/ngày</label>
                        <input type="text" autocomplete="off" class="form-control number" required name="so_lan_ngay" placeholder="Số lần/ngày">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-primary btn-sm wd-90 mg-t-22" id="btnLuuNhapTien">
            <i class="fa fa-save mr-2"></i>Lưu
        </button>
        <button type="button" class="btn btn-primary btn-sm wd-90 mg-t-22" data-dismiss="modal" id="btnLuuDongNhapTien" style="width:120px">
            <i class="fa fa-save mr-2"></i>Lưu & đóng
        </button>
        <button type="button" class="btn btn-primary btn-sm wd-90 mg-t-22" data-dismiss="modal" id="btnDongNhapTien">
            <i class="fa fa-save mr-2"></i>Đóng
        </button>
    </div>
</div>

<div id="modalAddNhomGoi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="max-width:460px">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title">Nhóm gói bảo hiểm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="padding-bottom: 0px; padding-top: 0px; max-height: 350px; overflow-y: scroll;">
                <div class="row">
                    <div class="col-12" id="modalAddNhomGoiBHForm">
                        <form name="frmAddNhomGoiBH" novalidate="novalidate" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="_required" for="ma">Mã nhóm</label>
                                        <input type="text" class="form-control" maxlength="100" autocomplete="off" required="" name="ma" placeholder="Mã nhóm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="_required" for="ten">Tên nhóm</label>
                                        <input type="text" class="form-control" maxlength="100" autocomplete="off" name="ten" placeholder="Tên nhóm">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 p-0" id="modalAddNhomGoiDsChon">
                        <table class="table table-hover" style="border-bottom:1px solid #e8eef3;">
                            <thead>
                                <tr>
                                    <th class="text-center">Mã nhóm</th>
                                    <th class="text-center">Tên nhóm</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="dsNhomGoi">
                                <tr>
                                    <td class="text-center" colspan="5">Chưa có nhóm gói</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display:block;">
                <button type="button" class="btn btn-primary btn-sm mg-t-22" id="btnThemNhomGoiMoi">
                    <i class="fa fa-plus mr-2"></i>Thêm mới
                </button>
                <button type="button" class="btn btn-primary btn-sm mg-t-22" id="btnNhomGoiQuayVe">
                    <i class="fa fa-times mr-2"></i>Quay về
                </button>

                <button type="button" class="btn btn-primary btn-sm wd-85 mg-t-22 float-right" data-dismiss="modal">
                    <i class="fas fa-window-close mr-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-primary btn-sm wd-85 mg-t-22 float-right" id="btnLuuNhomGoi">
                    <i class="fa fa-save mr-2"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>