@using ESCS.COMMON.Response;
@using ESCS.MODEL.ESCS;
@{
    Layout = null;
    var data = ViewBag.Data as BaseResponse<ThongTinEmail<ThongBaoGiamDinh>>;
    var mail = data.data_info.mail;
}

<html>
<head>
    <title>THÔNG BÁO OTP QUÊN MẬT KHẨU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body style="font-family: 'Tahoma';">
    <div style="margin:5px;">
        <div style="width: 710px; margin: 0 auto;">
            <div style="padding: 8px; text-align: justify;">
                <p><b>Xin chào</b>: Quý khách hàng</p>
                <p>Anh/chị đang yêu cầu lấy lại mật khẩu từ ứng dụng</p>
                <p>Quý khách vui lòng nhập mã OTP vào ứng dụng để thay đổi mật khẩu mới.</p>

                <p style="font-family: 'Tahoma'; font-size: 14px; color:red; margin-top: 5px;">
                    - Quý khách vui lòng không cung cấp hoặc chia sẻ mã OTP này cho bất cứ ai.
                </p>

                <div style="font-family: 'Tahoma'; font-size: 18px; color: red; font-weight: bold; margin-top: 5px;margin-bottom: 5px; text-align:center;">
                    <span>@mail.otp</span>
                </div>

                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 5px;">
                    Mọi vướng mắc về hồ sơ cần giải đáp hoặc hỗ trợ, Quý khách vui lòng liên hệ:
                </p>
                <p style="color: #035299; font-family: 'Tahoma'; font-size: 14px;"><span>@mail.ten_cong_ty</span></p>
                <ul style="line-height: 20px; margin: 8px 0px; font-family: 'Tahoma'; font-size: 14px;">
                    <li>Địa chỉ: <span style="color: #035299">@mail.dchi_dt</span></li>
                    <li>Số điện thoại: <span style="color: #035299">@mail.d_thoai_dt</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
