@{
    ViewData["Title"] = "Tiến trình giải quyết bồi thường";
    Layout = "~/Views/Shared/_LayoutScroll.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 d-flex justify-content-start align-self-center">
        <h4 class="mb-0 pr-3 pquyen_dashboard" data-id="dashboard_xe"><a class="text-themecolor" href="/home/Index">Bồi thường xe ô tô</a></h4>
        <h4 class="mb-0 pr-3 pquyen_dashboard" data-id="dashboard_ng"><a class="text-themecolor" href="/home/IndexH">Bồi thường con người</a></h4>
        <h4 class="mb-0 pr-3 pquyen_dashboard" data-id="dashboard_ttgq"><a class="text-themecolor" style="color:blue">Tiến trình giải quyết</a></h4>
    </div>
    <div class="col-md-7 align-self-center justify-content-end d-flex">
        <form class="form-inline" name="frmSearch" method="post">
            <div class="form-group m-0 mr-1">
                @*<label for="inputEmail3" class="pr-0 col-sm-4 col-form-label">Đối tác</label>*@
                <select class="select2 form-control custom-select" name="ma_doi_tac" style="width:500px">
                </select>
            </div>
            <div class="form-group m-0 mr-1">
                @*<label for="inputEmail3" class="pr-0 col-sm-4 col-form-label">Chi nhánh</label>*@
                <select class="select2 form-control custom-select" name="ma_chi_nhanh" style="width:200px">
                </select>
            </div>
            <div class="form-group m-0">
                @*<label for="inputEmail3" class="pr-0 col-sm-4 col-form-label">Nhóm</label>*@
                <select class="select2 form-control custom-select" name="nhom" style="width:100px">
                    <option value="TUAN">Tuần</option>
                    <option value="THANG">Tháng</option>
                    <option value="NAM" selected="selected">Năm</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-cols-6">
        <div class="col-md-2 col-12">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-info">
                            <i class="fal fa-sigma"></i>
                        </div>
                        <div class="ml-2 align-self-center wd-60p">
                            <p class="text-muted mb-0">Tổng hồ sơ</p>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="mb-0 font-weight-light" id="tong_ho_so_sla">0</h4>
                                <p class="mb-0" id="tgian_tbinh_gd_ho_so">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-warning">
                            <i class="fas fa-check-square"></i>
                        </div>
                        <div class="ml-2 align-self-center wd-60p">
                            <p class="text-muted mb-0">Tổng hồ sơ 0-5 phút</p>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="mb-0 font-weight-light" id="tong_ho_so_0_5">0</h4>
                                <p class="mb-0" id="tgian_tbinh_gd_ho_so_0_5"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-primary">
                            <i class="fas fa-check-square"></i>
                        </div>
                        <div class="ml-2 align-self-center wd-60p">
                            <p class="text-muted mb-0">Tổng hồ sơ 5-10 phút</p>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="mb-0 font-weight-light" id="tong_ho_so_5_10">0</h4>
                                <p class="mb-0" id="tgian_tbinh_gd_ho_so_5_10"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-danger">
                            <i class="mdi mdi-bullseye"></i>
                        </div>
                        <div class="ml-2 align-self-center wd-60p">
                            <p class="text-muted mb-0">Tổng hồ sơ 10-50 phút</p>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="mb-0 font-weight-light" id="tong_ho_so_10_50">0</h4>
                                <p class="mb-0" id="tgian_tbinh_gd_ho_so_10_50"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-danger">
                            <i class="mdi mdi-bullseye"></i>
                        </div>
                        <div class="ml-2 align-self-center wd-60p">
                            <p class="text-muted mb-0">Tổng hồ sơ 50-500 phút</p>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="mb-0 font-weight-light" id="tong_ho_so_50_500">0</h4>
                                <p class="mb-0" id="tgian_tbinh_gd_ho_so_50_500"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="cac_buoc_dat_pie"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="cac_buoc_khong_dat_pie"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="thoi_gian_trung_binh_buoc_pie"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="tam_thoi_chua_co_pie"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <style>
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: 4px;
            margin-bottom: 15px;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }

        .campaign {
            height: 260px;
            position: relative;
        }

            .campaign .ct-series-a .ct-area {
                fill-opacity: 0.2;
                fill: url(#gradient);
            }

            .campaign .ct-series-a .ct-line,
            .campaign .ct-series-a .ct-point {
                stroke: #21c1d6;
                stroke-width: 2px;
            }

            .campaign .ct-series-b .ct-area {
                fill: #1e88e5;
                fill-opacity: 0.1;
            }

            .campaign .ct-series-b .ct-line,
            .campaign .ct-series-b .ct-point {
                stroke: #1e88e5;
                stroke-width: 2px;
            }

            .campaign .ct-series-a .ct-point,
            .campaign .ct-series-b .ct-point {
                stroke-width: 6px;
            }

        .table td, .table th {
            padding: .75rem;
        }

        .table tbody {
            font-size: 0.875rem;
        }

        .row > div {
            padding-right: 0px;
        }

        .fixed-header thead th {
            background-color: white;
            color: #67757c;
        }

        .text-content {
            color: rgb(30, 136, 229);
        }
    </style>
}

<partial name="_Template.cshtml" />

@section Scripts{
    <script src="~/js/app/Admin/services/PartnerListService.js" asp-append-version="true"></script>
    <script src="~/js/app/Admin/services/BranchListService.js" asp-append-version="true"></script>
    <script src="~/libs/highchart/highcharts.src.js" asp-append-version="true"></script>
    <script src="~/libs/highchart/highcharts-more.js" asp-append-version="true"></script>
    <script src="~/libs/highchart/highcharts-3d.js" asp-append-version="true"></script>
    <script src="~/libs/highchart/modules/solid-gauge.js" asp-append-version="true"></script>
    <script src="~/libs/highchart/modules/wordcloud.js" asp-append-version="true"></script>
    <script src="~/js/app/Dashboard/services/DashboardService.js" asp-append-version="true"></script>
    <script src="~/js/app/Dashboard/DashboardHomeTTGQ.js" asp-append-version="true"></script>
}
