<div class="row mg-t-10">
    <div class="col-12">
        <ul class="nav nav-pills font-weight-bold" id="CarCompensationContent4Tab" role="tablist" style="background-color:#f8f9fa">
            <li class="nav-item ">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#CarCompensationContentStep4Tab1" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fas fa-align-justify mr-2"></i>Tính toán bồi thường và đề xuất
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#CarCompensationContentStep4Tab2" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fas fa-file-invoice mr-2"></i>Chứng từ hóa đơn, thanh toán, thụ hưởng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#CarCompensationContentStep4Tab5" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fas fa-info-circle mr-2"></i>Tạm ứng bồi thường
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#CarCompensationContentStep4Tab4" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fab fa-keycdn mr-2"></i>Thu đòi NT3 và thu hồi vật tư
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Tính toán bồi thường và đề xuất -->
            <div class="tab-pane active" role="tabpanel" aria-labelledby="home-tab" id="CarCompensationContentStep4Tab1">
                <div class="card mb-0">
                    <form name="frmTinhToanBoiThuong" method="post">
                        <input type="hidden" name="so_id">
                        <input type="hidden" name="ma_doi_tac">
                    </form>
                    <div class="row" style="margin-top:8px">
                        <div class="table-responsive" style="max-height: 320px;">
                            <table id="tableTinhToanBoiThuong" class="table table-bordered fixed-header">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th colspan="4" style="text-align:center; vertical-align:middle;">Mục tổn thất</th>
                                        <th colspan="4" style="text-align:center">Số tiền tổn thất</th>
                                        <th colspan="4" style="text-align:center">Đề xuất duyệt</th>
                                        <th colspan="2" style="text-align:center">Phê duyệt</th>
                                        <th rowspan="2" style="text-align:center">Ghi chú</th>
                                    </tr>
                                    <tr class="text-center uppercase">
                                        <th style="width:300px">Tên mục tổn thất</th>
                                        <th style="width:80px">Số lượng</th>
                                        <th style="width:70px">Đơn vị</th>
                                        <th style="width:100px">Mức độ</th>
                                        <th style="width:60px">Mã NT</th>
                                        <th style="width:110px">Tiền TT</th>
                                        <th style="width:110px">Tỷ giá</th>
                                        <th style="width:110px">Tiền TT VNĐ</th>
                                        <th style="width:110px">Giảm trừ NTệ</th>
                                        <th style="width:200px">Nguyên nhân giảm trừ</th>
                                        <th style="width:110px">Tiền Ntệ</th>
                                        <th style="width:110px">Tiền VNĐ</th>
                                        <th style="width:110px">Tiền Ntệ</th>
                                        <th style="width:110px">Tiền VNĐ</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="tbl_TinhToanBoiThuong">

                                    <tr>
                                        <td>abcas</td>
                                        <td>1</td>
                                        <td>nnc</td>
                                        <td>hỏng hẳn</td>
                                        <td>VND</td>
                                        <td>10.000.000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>abcas</td>
                                        <td>1</td>
                                        <td>nnc</td>
                                        <td>hỏng hẳn</td>
                                        <td>VND</td>
                                        <td>10.000.000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>abcas</td>
                                        <td>1</td>
                                        <td>nnc</td>
                                        <td>hỏng hẳn</td>
                                        <td>VND</td>
                                        <td>10.000.000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                                <tfoot style="height:34.6px;">
                                    <tr class="text-left card-title-bg">
                                        <td colspan="4" style="text-align:center; font-weight:bold">
                                            Tổng cộng
                                        </td>
                                        <td style="text-align:right" id="tong_tien_yc"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-top:8px">
                        <div class="form-group" style="width:100%">
                            <label class="_required">Diễn giải đề xuất bồi thường</label>
                            <textarea class="form-control" name="dien_giai" required rows="5" placeholder="Diễn giải đề xuất bồi thường"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-sm wd-80" id="btnLuuThongTinTinhToan">
                                <i class="fa fa-save mr-2"></i>Lưu
                            </button>
                           
                        </div>

                    </div>
                </div>
            </div>
            <!-- Chứng từ hóa đơn, thanh toán -->
            <div class="tab-pane" id="CarCompensationContentStep4Tab2" role="tabpanel" aria-labelledby="home-tab">
                <div class="row" style="margin-top:10px">
                    <div class="col-12">
                        <h4>Danh sách hóa đơn, chứng từ</h4>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" style="max-height:173px">
                            <!-- Chứng từ hóa đơn, thanh toán -->
                            <table class="table table-bordered fixed-header">
                                <thead class="font-weight-bold card-title-bg-primary">
                                    <tr class="text-center uppercase">
                                        <th>Ngày CT</th>
                                        <th>Mẫu</th>
                                        <th>Ký hiệu</th>
                                        <th>Số</th>
                                        <th>Nội dung</th>
                                        <th>Số tiền</th>
                                        <th>Thuế</th>
                                        <th>Tổng cộng</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="step4_chung_tu">
                                </tbody>
                                <tfoot>
                                    <tr class="text-left card-title-bg">
                                        <td colspan="2" class="text-left">
                                            <a href="#" id="btnThemHoaDonChungTu" title="Thêm hóa đơn, chứng từ">
                                                <i class="fas fa-plus-square mr-2"></i>Thêm hóa đơn, chứng từ
                                            </a>
                                        </td>
                                        <td colspan="2" class="text-left">
                                            <a href="#" id="btnDocHoaDon" title="Đọc hóa đơn điện tử">
                                                <i class="far fa-file-invoice-dollar mr-2"></i>Đọc hóa đơn
                                            </a>
                                        </td>
                                        <td class="text-center font-weight-bold">
                                            Tổng cộng
                                        </td>
                                        <td class="text-right font-weight-bold chung_tu_tong_tien"></td>
                                        <td class="text-right font-weight-bold chung_tu_tong_thue"></td>
                                        <td class="text-right font-weight-bold chung_tu_tong_cong"></td>
                                        <td style="font-weight:bold"></td>
                                        <td style="font-weight:bold"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-12">
                        <h4>Danh sách người thụ hưởng bồi thường</h4>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" style="max-height:173px">
                            <!-- Danh sách người thụ hưởng -->
                            <table id="tblCarCompensationContentStep4_benefit" class="table table-bordered fixed-header">
                                <thead class="font-weight-bold card-title-bg-primary">
                                    <tr class="text-center uppercase">
                                        <th></th>
                                        <th>Tên đơn vị thụ hưởng</th>
                                        <th>Số TK</th>
                                        <th>Ngân hàng</th>
                                        <th>Nội dung</th>
                                        <th>Loại</th>
                                        <th>Số tiền</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="step4_thu_huong"></tbody>
                                <tfoot>
                                    <tr class="text-left card-title-bg">
                                        <td colspan="3" class="text-left">
                                            <a href="#" id="btnThemNguoiThuHuong" title="Thêm người thụ hưởng">
                                                <i class="fas fa-plus-square mr-2"></i>Thêm người thụ hưởng
                                            </a>
                                        </td>
                                        <td class="font-weight-bold text-center" colspan="3">
                                            Tổng cộng
                                        </td>
                                        <td class="font-weight-bold text-right thu_huong_tong">
                                        </td>
                                        <td class="font-weight-bold">
                                        </td>
                                        <td class="font-weight-bold">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tạm ứng bồi thường -->
            <div class="tab-pane" id="CarCompensationContentStep4Tab5" role="tabpanel" aria-labelledby="home-tab">
                <div class="row" style="margin-top:20px">
                    <div class="col-12">
                        <h4>Danh sách yêu cầu tạm ứng</h4>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" style="max-height:173px">
                            <!-- Danh sách yêu cầu tạm ứng -->
                            <table class="table table-bordered fixed-header">
                                <thead class="font-weight-bold card-title-bg-primary">
                                    <tr class="text-center uppercase">
                                        <th>PTTT</th>
                                        <th>Tên đối tượng thụ hưởng</th>
                                        <th>Số TK</th>
                                        <th>Ngân hàng</th>
                                        <th>Nội dung</th>
                                        <th>Số tiền</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="step4_tam_ung"></tbody>
                                <tfoot>
                                    <tr class="text-left card-title-bg">
                                        <td colspan="3" class="text-left">
                                            <a href="#" class="mr-3" id="btnThemTamUng" title="Thêm người thụ hưởng">
                                                <i class="fas fa-plus-square mr-2"></i>Thêm yêu cầu tạm ứng
                                            </a>
                                            <a href="#" id="btnTrinhTamUng" title="Trình tạm ứng bồi thường">
                                                <i class="fas fa-share-square mr-2"></i>Trình tạm ứng bồi thường
                                            </a>
                                        </td>
                                        <td class="font-weight-bold text-center" colspan="2">
                                            Tổng cộng
                                        </td>
                                        <td class="font-weight-bold text-right tam_ung_tong">
                                        </td>
                                        <td class="font-weight-bold">
                                        </td>
                                        <td class="font-weight-bold">
                                        </td>
                                        <td class="font-weight-bold">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thu đòi NT3 và thu hồi vật tư -->
            <div class="tab-pane" id="CarCompensationContentStep4Tab4" role="tabpanel" aria-labelledby="home-tab">
                <div class="row" style="margin-top:10px">
                    <div class="col-12">
                        <h4>Thu hồi vật tư</h4>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" style="max-height:173px">
                            <table class="table table-bordered fixed-header">
                                <thead class="font-weight-bold card-title-bg-primary">
                                    <tr class="text-center uppercase">
                                        <th>Tên hạng mục, vật tư thu hồi</th>
                                        <th style="width: 150px;">Số tiền thu hồi dự kiến</th>
                                        <th>Ghi chú</th>
                                        <th style="width: 80px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tableThuHoiVatTu">
                                </tbody>
                                <tfoot>
                                    <tr class="text-left card-title-bg">
                                        <td class="text-left">
                                            <a href="#" class="mr-3" id="btnThemHangMucThuHoi" title="Thêm hạng mục cần thu hồi">
                                                <i class="fas fa-plus-square mr-2"></i>Thêm hạng mục cần thu hồi
                                            </a>

                                            @*<a href="#" id="btnTrinhHangMucThuHoi" title="Trình danh sách hạng mục cần thu hồi">
                                                    <i class="fas fa-share-square mr-2"></i>Trình hạng mục thu hồi
                                                </a>*@
                                        </td>
                                        <td class="text-center font-weight-bold">
                                            <span id="tongTienVatTuThuHoiDuKien">0</span>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-12">
                        <h4>Danh sách thu đòi người thứ 3</h4>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" style="max-height:173px">
                            <table class="table table-bordered fixed-header">
                                <thead class="font-weight-bold card-title-bg-primary">
                                    <tr class="text-center uppercase">
                                        <th>Tên</th>
                                        <th>Điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th style="width: 120px;">Số tiền dự kiến</th>
                                        <th>Ghi chú</th>
                                        <th style="width: 80px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tableDanhSachThuDoiNTBA">
                                </tbody>
                                <tfoot>
                                    <tr class="text-left card-title-bg">
                                        <td colspan="3" class="text-left">
                                            <a href="#" class="mr-3" id="btnThemNguoiThuDoi" title="Thêm danh sách">
                                                <i class="fas fa-plus-square mr-2"></i>Thêm danh sách
                                            </a>
                                            @*<a href="#" id="btnTrinhNguoiThuDoi" title="Trình danh sách thu đòi người thứ 3">
                                                    <i class="fas fa-share-square mr-2"></i>Trình thu đòi người thứ 3
                                                </a>*@
                                        </td>
                                        <td class="font-weight-bold text-center">
                                            <span id="tongTienThuDoiNTBADuKien">0</span>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

