<div id="HealthGuaranteeAdd" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="z-index: 1600;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header py-1">
                <span style="float:left; margin-top:3px;"><i class="fal fa-edit"></i></span>
                <h5 class="modal-title" id="HealthGuaranteeAddLabel" style="color:darkblue;">&nbsp;&nbsp;Thêm quyền lợi bảo lãnh lần 3</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="background-color:#54667a0a">
                <form id="HealthGuaranteeAddForm" method="post">
                    <h5 class="text-dark-success">Thông tin yêu cầu bảo lãnh viện phí</h5>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Nhóm nguyên nhân</label>
                                <select class="form-control custom-select" required id="nguyen_nhan">
                                    <option selected=""> ----- Tất cả -----</option>
                                    <option value="1">Điều trị răng</option>
                                    <option value="2">Thai sản</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Hình thức điều trị</label>
                                <select class="form-control custom-select" required id="hinh_thuc_dtri">
                                    <option selected=""> ----- Tất cả -----</option>
                                    <option value="1">Ngoại trú</option>
                                    <option value="2">Nội trú</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Ngày khám/vào viện</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" required name="ngay_vao" placeholder="mm/dd/yyyy">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><span class="ti-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="_required">Ngày kết thúc/ra viện</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" required name="ngay_ra" placeholder="mm/dd/yyyy">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><span class="ti-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="_required">Quyền lợi bảo hiểm</label>
                                <select class="form-control custom-select" required id="quyen_loi">
                                    <option selected=""> ----- Chọn quyền lợi -----</option>
                                    <option value="1">Chăm sóc và điều trị răng ngoại trú</option>
                                    <option value="2">Hàn răng bằng chất liệu khác chất liệu thông thường</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Số ngày/lần còn lại</label>
                                <div class="input-group">
                                    <input type="text" name="so_ngay_con" class="form-control number" disabled title="Số ngày hoặc số lần khám quyền lợi còn lại">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Giới hạn/lần/ngày</label>
                                <div class="input-group">
                                    <input type="text" name="tien_lan" class="form-control number" disabled title="Số tiền giới hạn/lần khám/ngày nằm viện">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Tổng tiền còn lại</label>
                                <div class="input-group">
                                    <input type="text" name="tien_tong_con" class="form-control number" disabled title="Tổng số tiền giới hạn còn lại">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="_required">Mã bệnh ICD</label>
                                <div class="input-group">
                                    <input type="text" name="ma_benh" required class="form-control" title="Nhập mã bệnh (các mã bệnh cách nhau bằng dầu ;)">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="_required">Chẩn đoán</label>
                                <div class="input-group">
                                    <input type="text" name="chan_doan" required class="form-control" title="Chẩn đoán">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="_required">Số lần/ngày y.cầu</label>
                                <div class="input-group">
                                    <input type="text" name="so_ngay_yc" required class="form-control number" title="Số lần khám/ngày năm viện yêu cầu bảo lãnh">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="_required">Số tiền y.cầu</label>
                                <div class="input-group">
                                    <input type="text" name="tien_yc" required class="form-control number" title="Tổng số tiền yêu cầu bảo lãnh">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="text-dark-success" style="margin-bottom:6px; margin-top:10px;">Thông tin phê duyệt yêu cầu bảo lãnh viện phí</h5>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="_required">Số lần/ngày</label>
                                <div class="input-group">
                                    <input type="text" name="so_ngay_duyet" required class="form-control number" title="Số lần khám/ngày năm viện phê duyệt bảo lãnh">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Giảm trừ</label>
                                <div class="input-group">
                                    <input type="text" name="tien_giam" class="form-control number" title="Số tiền giảm">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="_required">Nguyên nhân Giảm trừ</label>
                                <select class="select2 block form-control custom-select" required name="nguyen_nhan" multiple="multiple" style="width: 100%; height:36px;">
                                    <option>---- Nguyên nhân giảm trừ ----</option>
                                    <option value="A1">Nguyên nhân 1</option>
                                    <option value="A2">Nguyên nhân 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Tiền duyệt</label>
                                <div class="input-group">
                                    <input type="text" name="tien_duyet" class="form-control number" disabled title="Số tiền duyệt">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <div class="input-group">
                                    <input type="text" name="ghi_chu" class="form-control number" title="Ghi chú">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top:6px">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="_required">Nội dung phê duyệt</label>
                                <select class="select2 block form-control custom-select" required name="ma_noi_dung" multiple="multiple" style="width: 100%; height:36px;">
                                    <option>---- Nội dung phê duyệt ----</option>
                                    <option value="A1">Nội dung 1</option>
                                    <option value="A2">Nội dung 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nội dung chi tiết</label>
                                <textarea class="form-control" name="noi_dung" rows="4" readonly></textarea>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm wd-85 ml-2" id="HealthGuaranteeAdd_Save">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;Lưu
                </button>
                <button type="button" class="btn btn-primary btn-sm ml-2 wd-110" id="HealthGuaranteeAdd_Save_close">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;Lưu & đóng
                </button>
                <button class="btn btn-primary btn-sm wd-85 mg-t-22" data-dismiss="modal" id="HealthGuaranteeAdd_Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Xóa
                </button>
                <button class="btn btn-primary btn-sm wd-85 mg-t-22" data-dismiss="modal" id="HealthGuaranteeAdd_close">
                    <i class="fas fa-window-close"></i>&nbsp;&nbsp;Đóng
                </button>
            </div>
        </div>
    </div>
</div>